<!-- nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/admin">client Setup</a>
        <a class="nav-item nav-link" routerLink="/admin/settings/form/sage_api">Sage API Form</a>
        <a class="nav-item nav-link" routerLink="/admin/settings/form/field_mapping">Sage Field Mapping</a>
        <a class="nav-item nav-link" routerLink="/admin/settings/form/thirdparty_ep">Third Party Setting</a>
        <a class="nav-item nav-link" >Client List</a>
        <a class="nav-item nav-link">Settings</a>
    </div>
</nav -->

<p>admin-home works!</p>
